body {
    --font-stack: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-stack--monospace:
        "JetBrains Mono", "SFMono-Regular", Menlo, Consolas, monospace;
}

code,
kbd,
pre,
samp,
.sig {
    font-variant-ligatures: none;
}

article[role="main"] .highlight pre,
article[role="main"] pre.literal-block {
    line-height: 1.3;
}
